In [31]:
import pandas as pd

input_data_dict = {
    'K1': [10, 5, 1, 2, 1, 2, 3, 4, 6, 5],
    'K2': ['good', 'good', 'good', 'medium', 'medium', 'good', 'bad', 'medium', 'medium', 'medium'],
    'K3': [3, 3, 5, 1, 2, 1, 1, 2, 3, 4],
    'K4': [24, 15, 16, 18, 20, 22, 16, 30, 18, 19],
    'K5': ['good', 'medium', 'good', 'good', 'very good', 'good', 'bad', 'medium', 'medium', 'medium'],
}

input_df = pd.DataFrame.from_dict(input_data_dict, orient='index', columns=['X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'X7', 'X8', 'X9', 'X10'])

def normalize(input_df):
    
    df = input_df.copy()
    
    criteria_count = df.shape[0]
    
    _normalize_quality_criteria_rules = {
        1: {
            'very good': 0.9,
            'good': 0.7,
            'medium': 0.5,
            'bad': 0.3,
            'very bad': 0.1
        },
        4: {
            'very good': 0.9,
            'good': 0.7,
            'medium': 0.5,
            'bad': 0.3,
            'very bad': 0.1
        }
    }
    
    criteria_to_minimize = [0, 2]
    criteria_to_maximize = [3]
    
        
    def _normalize_quality_criteria():
        for crit_index in _normalize_quality_criteria_rules.keys():
            df.iloc[crit_index] = df.iloc[crit_index].apply(lambda x: _normalize_quality_criteria_rules[crit_index][x])
        
    def _minimize_selected_criteria():
        for crit_index in criteria_to_minimize:
            df.iloc[crit_index] = df.iloc[crit_index].apply(lambda x: min(df.iloc[crit_index]) / x)
    
        
    def _maximize_selected_criteria():
        for crit_index in criteria_to_maximize:
            df.iloc[crit_index] = df.iloc[crit_index].apply(lambda x: x / max(df.iloc[crit_index]))
            
    
    _normalize_quality_criteria()
    _minimize_selected_criteria()
    _maximize_selected_criteria()
    
    return df

def get_paretto(input_df):
    
    df = input_df.copy()
    
    optim_variants = []
    
    def variant_is_better_than(col1, col2):
        return all(col1 >= col2)
    
    def is_variant_optimal(df, current_variant):
        for variant in df:
            if current_variant == variant:
                continue
            if (variant_is_better_than(df[variant], df[current_variant])):
                print('{} is worse than {}'.format(current_variant, variant))
                return False
        return True
    
    for variant in df:
        if is_variant_optimal(df, variant):
            optim_variants.append(variant)
    
    return df[optim_variants]

def express_analisys(df, count_to_return):
    best_n_alternatives = df.apply(min, axis=0).sort_values(ascending=False)[:count_to_return]
    print(best_n_alternatives)
    return df[best_n_alternatives.index]


def vector_scalar(input_df):
    
    df = input_df.copy()
    criteria_count = df.shape[0]
    
    std = ((df.sub(df.mean(axis=1), axis=0)).abs().sum(axis=1)).div(df.shape[1] * df.mean(axis=1))

    print('Mean:')
    print(df.mean(axis=1))
    print()
    print('Std:')
    print(std)
    print()
    print('Std sum:')
    print(sum(std))
    print()
    print('Criteria weights:')
    print(std / sum(std))
    print()
    weighted_estimations = (1 / df).mul(std / sum(std), axis=0)
    print('Weighted estimations:')
    print(weighted_estimations)
    print()
    print('Complex estimations:')
    print(weighted_estimations.sum())


def comparsion(input_df):
    df = input_df.copy()
    criteria_price = [4, 1, 1, 2, 3]
    
    max_weight = max(criteria_price)
    crits_weight = list(map(lambda x: max_weight + 1 - x, criteria_price))
    print('Criteria weights:')
    print(crits_weight)
    alt_est = []
    for i in range(df.shape[0]):
        print('S{} = {}'.format(i+1, (max(df.iloc[i, 0], df.iloc[i, 1]) / min(df.iloc[i, 0], df.iloc[i, 1]))))
        print('C{} = {}'.format(i+1, (max(df.iloc[i, 0], df.iloc[i, 1]) / min(df.iloc[i, 0], df.iloc[i, 1])) ** criteria_price[i]))

        alt_est.append((max(df.iloc[i, 0], df.iloc[i, 1]) / min(df.iloc[i, 0], df.iloc[i, 1])) ** criteria_price[i])

    D1_list = []
    D2_list = []
    for i in range(df.shape[0]):
        if df.iloc[i, 0] > df.iloc[i, 1]:
            D1_list.append(alt_est[i])
        elif df.iloc[i, 0] < df.iloc[i, 1]:
            D2_list.append(alt_est[i])
    D1 = 1
    D2 = 1
    for d in D1_list:
        D1 *= d
    for d in D2_list:
        D2 *= d
    print('D1: {}'.format(D1))
    print('D2: {}'.format(D2))
    if D1 > D2:
        print('First criteria is better')
    elif D2 > D1:
        print('Second criteria is better')
    else:
        print('Nothing')

In [32]:
normalized_df = normalize(input_df)
normalized_df

,X1,X2,X3,X4,X5,X6,X7,X8,X9,X10
K1,0.1,0.2,1,0.5,1,0.5,0.333333,0.25,0.166667,0.2
K2,0.7,0.7,0.7,0.5,0.5,0.7,0.3,0.5,0.5,0.5
K3,0.333333,0.333333,0.2,1,0.5,1,1,0.5,0.333333,0.25
K4,0.8,0.5,0.533333,0.6,0.666667,0.733333,0.533333,1,0.6,0.633333
K5,0.7,0.5,0.7,0.7,0.9,0.7,0.3,0.5,0.5,0.5

In [33]:


optim_pareto_df = get_paretto(normalized_df)
optim_pareto_df

X2 is worse than X6
X4 is worse than X6
X7 is worse than X4
X9 is worse than X4
X10 is worse than X5

          X1        X3        X5        X6    X8
K1       0.1         1         1       0.5  0.25
K2       0.7       0.7       0.5       0.7   0.5
K3  0.333333       0.2       0.5         1   0.5
K4       0.8  0.533333  0.666667  0.733333     1
K5       0.7       0.7       0.9       0.7   0.5

In [37]:
express_analized = express_analisys(optim_pareto_df, 4)
express_analized

X6    0.50
X5    0.50
X8    0.25
X3    0.20
dtype: float64

          X6        X5    X8        X3
K1       0.5         1  0.25         1
K2       0.7       0.5   0.5       0.7
K3         1       0.5   0.5       0.2
K4  0.733333  0.666667     1  0.533333
K5       0.7       0.9   0.5       0.7

In [38]:
vector_scalar(express_analized)

Mean:
K1    0.687500
K2    0.600000
K3    0.550000
K4    0.733333
K5    0.700000
dtype: float64

Std:
K1    0.454545
K2    0.166667
K3    0.409091
K4    0.181818
K5    0.142857
dtype: float64

Std sum:
1.354978354978355

Criteria weights:
K1    0.335463
K2    0.123003
K3    0.301917
K4    0.134185
K5    0.105431
dtype: float64

Weighted estimations:
          X6        X5        X8        X3
K1  0.670927  0.335463   1.34185  0.335463
K2  0.175719  0.246006  0.246006  0.175719
K3  0.301917  0.603834  0.603834   1.50958
K4   0.18298  0.201278  0.134185  0.251597
K5  0.150616  0.117146  0.210863  0.150616

Complex estimations:
X6    1.482158
X5    1.503727
X8    2.536741
X3    2.422980
dtype: float64

In [43]:
best_two = express_analisys(normalized_df, 2)

X6    0.5
X5    0.5
dtype: float64

In [44]:

comparsion(best_two)

Criteria weights:
[1, 4, 4, 3, 2]
S1 = 2.0
C1 = 16.0
S2 = 1.4
C2 = 1.4
S3 = 2.0
C3 = 2.0
S4 = 1.1
C4 = 1.2100000000000002
S5 = 1.2857142857142858
C5 = 2.125364431486881
D1: 3.3880000000000003
D2: 34.0058309037901
Second criteria is better

In [45]:
comparsion(normalized_df[['X1', 'X2']])

Criteria weights:
[1, 4, 4, 3, 2]
S1 = 2.0
C1 = 16.0
S2 = 1.0
C2 = 1.0
S3 = 1.0
C3 = 1.0
S4 = 1.6
C4 = 2.5600000000000005
S5 = 1.4
C5 = 2.7439999999999993
D1: 7.02464
D2: 16.0
Second criteria is better

In [42]:
input_df

      X1      X2    X3      X4         X5    X6   X7      X8      X9     X10
K1    10       5     1       2          1     2    3       4       6       5
K2  good    good  good  medium     medium  good  bad  medium  medium  medium
K3     3       3     5       1          2     1    1       2       3       4
K4    24      15    16      18         20    22   16      30      18      19
K5  good  medium  good    good  very good  good  bad  medium  medium  medium